<div class="container-fluid">
  <div class="card shadow-sm">
    <div class="card-body">

      <!-- Contenedor de detalles -->
      <div class="row">
        <div class="col-md-4">
          <img  
              class="img-fluid"
              src="{{ cursoDetail.image }}"
              alt="{{ cursoDetail.title }}"
            />
        </div>
        <div class="col">
          <h3 class="card-title">{{ cursoDetail.title }}</h3>
          <p class="card-text">Edad: {{ cursoDetail.description }}</p>
        </div>
        <div class="col-4">
          <div *ngIf="cursoDetail.offers_certificate">
          Sí ofrece certificado!
          </div>
          <div *ngIf="!cursoDetail.offers_certificate">
            No ofrece certificado!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
